<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>Servlets.ServletInicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioGuardar</servlet-name>
        <servlet-class>Servlets.ServletUsuarioGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioBuscar</servlet-name>
        <servlet-class>Servlets.ServletUsuarioBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioModificar</servlet-name>
        <servlet-class>Servlets.ServletUsuarioModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioEliminar</servlet-name>
        <servlet-class>Servlets.ServletUsuarioEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpresaGuardar</servlet-name>
        <servlet-class>Servlets.ServletEmpresaGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpresaBuscar</servlet-name>
        <servlet-class>Servlets.ServletEmpresaBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDepartamentoBuscar</servlet-name>
        <servlet-class>Servlets.ServletDepartamentoBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDepartamentoGuardar</servlet-name>
        <servlet-class>Servlets.ServletDepartamentoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDepartamentoModificar</servlet-name>
        <servlet-class>Servlets.ServletDepartamentoModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDepartamentoEliminar</servlet-name>
        <servlet-class>Servlets.ServletDepartamentoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargoBuscar</servlet-name>
        <servlet-class>Servlets.ServletCargoBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargoGuardar</servlet-name>
        <servlet-class>Servlets.ServletCargoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargoModificar</servlet-name>
        <servlet-class>Servlets.ServletCargoModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCargoEliminar</servlet-name>
        <servlet-class>Servlets.ServletCargoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHorarioBuscar</servlet-name>
        <servlet-class>Servlets.ServletHorarioBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHorarioGuardar</servlet-name>
        <servlet-class>Servlets.ServletHorarioGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHorarioModificar</servlet-name>
        <servlet-class>Servlets.ServletHorarioModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHorarioEliminar</servlet-name>
        <servlet-class>Servlets.ServletHorarioEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleadoBuscar</servlet-name>
        <servlet-class>Servlets.ServletEmpleadoBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleadoGuardar</servlet-name>
        <servlet-class>Servlets.ServletEmpleadoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleadoModificar</servlet-name>
        <servlet-class>Servlets.ServletEmpleadoModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleadoEliminar</servlet-name>
        <servlet-class>Servlets.ServletEmpleadoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionBuscarEmpleado</servlet-name>
        <servlet-class>Servlets.ServletAsignacionBuscarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionBuscarHorario</servlet-name>
        <servlet-class>Servlets.ServletAsignacionBuscarHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionBuscarHorarioEmpleado</servlet-name>
        <servlet-class>Servlets.ServletAsignacionBuscarHorarioEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionBuscar</servlet-name>
        <servlet-class>Servlets.ServletAsignacionBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionBuscarEmpleadoParametro</servlet-name>
        <servlet-class>Servlets.ServletAsignacionBuscarEmpleadoParametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionBuscarHorarioParametro</servlet-name>
        <servlet-class>Servlets.ServletAsignacionBuscarHorarioParametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionGuardar</servlet-name>
        <servlet-class>Servlets.ServletAsignacionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionModificar</servlet-name>
        <servlet-class>Servlets.ServletAsignacionModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignacionEliminar</servlet-name>
        <servlet-class>Servlets.ServletAsignacionEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUbicacionTerminalBuscar</servlet-name>
        <servlet-class>Servlets.ServletUbicacionTerminalBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUbicacionTerminalGuardar</servlet-name>
        <servlet-class>Servlets.ServletUbicacionTerminalGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUbicacionTerminalModificar</servlet-name>
        <servlet-class>Servlets.ServletUbicacionTerminalModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUbicacionTerminalEliminar</servlet-name>
        <servlet-class>Servlets.ServletUbicacionTerminalEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultas</servlet-name>
        <servlet-class>Servlets.ServletConsultas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletObservacionGuardar</servlet-name>
        <servlet-class>Servlets.ServletObservacionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultasResumen</servlet-name>
        <servlet-class>Servlets.ServletConsultasResumen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicio</servlet-name>
        <servlet-class>Servlets.ServletInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultasResumenEstado</servlet-name>
        <servlet-class>Servlets.ServletConsultasResumenEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarActualizar</servlet-name>
        <servlet-class>Servlets.ServletValidarActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarGuardar</servlet-name>
        <servlet-class>Servlets.ServletValidarGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarComprobar</servlet-name>
        <servlet-class>Servlets.ServletValidarComprobar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarBuscar</servlet-name>
        <servlet-class>Servlets.ServletValidarBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfiguracionGuardar</servlet-name>
        <servlet-class>Servlets.ServletConfiguracionGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConfiguracionBuscar</servlet-name>
        <servlet-class>Servlets.ServletConfiguracionBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarExpiracion</servlet-name>
        <servlet-class>Servlets.ServletValidarExpiracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarEliminar</servlet-name>
        <servlet-class>Servlets.ServletValidarEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfilModificar</servlet-name>
        <servlet-class>Servlets.ServletPerfilModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfilBuscar</servlet-name>
        <servlet-class>Servlets.ServletPerfilBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValidarRollback</servlet-name>
        <servlet-class>Servlets.ServletValidarRollback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFeriadoBuscar</servlet-name>
        <servlet-class>Servlets.ServletFeriadoBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFeriadoGuardar</servlet-name>
        <servlet-class>Servlets.ServletFeriadoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFeriadoModificar</servlet-name>
        <servlet-class>Servlets.ServletFeriadoModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFeriadoEliminiar</servlet-name>
        <servlet-class>Servlets.ServletFeriadoEliminiar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDescansoBuscar</servlet-name>
        <servlet-class>Servlets.ServletDescansoBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDescansoEmpleadoBuscar</servlet-name>
        <servlet-class>Servlets.ServletDescansoEmpleadoBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDescansoEmpleadoGuardar</servlet-name>
        <servlet-class>Servlets.ServletDescansoEmpleadoGuardar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIniciarCron</servlet-name>
        <servlet-class>Cron.ServletIniciarCron</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTerminalBuscarCalendario</servlet-name>
        <servlet-class>Servlets.ServletTerminalBuscarCalendario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTerminalBuscarTipoEntrada</servlet-name>
        <servlet-class>Servlets.ServletTerminalBuscarTipoEntrada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControlManual</servlet-name>
        <servlet-class>Servlets.ServletControlManual</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/ServletInicioSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioGuardar</servlet-name>
        <url-pattern>/ServletUsuarioGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioBuscar</servlet-name>
        <url-pattern>/ServletUsuarioBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioModificar</servlet-name>
        <url-pattern>/ServletUsuarioModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioEliminar</servlet-name>
        <url-pattern>/ServletUsuarioEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpresaGuardar</servlet-name>
        <url-pattern>/ServletEmpresaGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpresaBuscar</servlet-name>
        <url-pattern>/ServletEmpresaBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDepartamentoBuscar</servlet-name>
        <url-pattern>/ServletDepartamentoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDepartamentoGuardar</servlet-name>
        <url-pattern>/ServletDepartamentoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDepartamentoModificar</servlet-name>
        <url-pattern>/ServletDepartamentoModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDepartamentoEliminar</servlet-name>
        <url-pattern>/ServletDepartamentoEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargoBuscar</servlet-name>
        <url-pattern>/ServletCargoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargoGuardar</servlet-name>
        <url-pattern>/ServletCargoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargoModificar</servlet-name>
        <url-pattern>/ServletCargoModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCargoEliminar</servlet-name>
        <url-pattern>/ServletCargoEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHorarioBuscar</servlet-name>
        <url-pattern>/ServletHorarioBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHorarioGuardar</servlet-name>
        <url-pattern>/ServletHorarioGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHorarioModificar</servlet-name>
        <url-pattern>/ServletHorarioModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHorarioEliminar</servlet-name>
        <url-pattern>/ServletHorarioEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleadoBuscar</servlet-name>
        <url-pattern>/ServletEmpleadoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleadoGuardar</servlet-name>
        <url-pattern>/ServletEmpleadoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleadoModificar</servlet-name>
        <url-pattern>/ServletEmpleadoModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleadoEliminar</servlet-name>
        <url-pattern>/ServletEmpleadoEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionBuscarEmpleado</servlet-name>
        <url-pattern>/ServletAsignacionBuscarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionBuscarHorario</servlet-name>
        <url-pattern>/ServletAsignacionBuscarHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionBuscarHorarioEmpleado</servlet-name>
        <url-pattern>/ServletAsignacionBuscarHorarioEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionBuscar</servlet-name>
        <url-pattern>/ServletAsignacionBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionBuscarEmpleadoParametro</servlet-name>
        <url-pattern>/ServletAsignacionBuscarEmpleadoParametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionBuscarHorarioParametro</servlet-name>
        <url-pattern>/ServletAsignacionBuscarHorarioParametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionGuardar</servlet-name>
        <url-pattern>/ServletAsignacionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionModificar</servlet-name>
        <url-pattern>/ServletAsignacionModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignacionEliminar</servlet-name>
        <url-pattern>/ServletAsignacionEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbicacionTerminalBuscar</servlet-name>
        <url-pattern>/ServletUbicacionTerminalBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbicacionTerminalGuardar</servlet-name>
        <url-pattern>/ServletUbicacionTerminalGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbicacionTerminalModificar</servlet-name>
        <url-pattern>/ServletUbicacionTerminalModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUbicacionTerminalEliminar</servlet-name>
        <url-pattern>/ServletUbicacionTerminalEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultas</servlet-name>
        <url-pattern>/ServletConsultas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletObservacionGuardar</servlet-name>
        <url-pattern>/ServletObservacionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultasResumen</servlet-name>
        <url-pattern>/ServletConsultasResumen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicio</servlet-name>
        <url-pattern>/ServletInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultasResumenEstado</servlet-name>
        <url-pattern>/ServletConsultasResumenEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarActualizar</servlet-name>
        <url-pattern>/ServletValidarActualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarGuardar</servlet-name>
        <url-pattern>/ServletValidarGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarComprobar</servlet-name>
        <url-pattern>/ServletValidarComprobar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarBuscar</servlet-name>
        <url-pattern>/ServletValidarBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfiguracionGuardar</servlet-name>
        <url-pattern>/ServletConfiguracionGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConfiguracionBuscar</servlet-name>
        <url-pattern>/ServletConfiguracionBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarExpiracion</servlet-name>
        <url-pattern>/ServletValidarExpiracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarEliminar</servlet-name>
        <url-pattern>/ServletValidarEliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfilModificar</servlet-name>
        <url-pattern>/ServletPerfilModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfilBuscar</servlet-name>
        <url-pattern>/ServletPerfilBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValidarRollback</servlet-name>
        <url-pattern>/ServletValidarRollback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFeriadoBuscar</servlet-name>
        <url-pattern>/ServletFeriadoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFeriadoGuardar</servlet-name>
        <url-pattern>/ServletFeriadoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFeriadoModificar</servlet-name>
        <url-pattern>/ServletFeriadoModificar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFeriadoEliminiar</servlet-name>
        <url-pattern>/ServletFeriadoEliminiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDescansoBuscar</servlet-name>
        <url-pattern>/ServletDescansoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDescansoEmpleadoBuscar</servlet-name>
        <url-pattern>/ServletDescansoEmpleadoBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDescansoEmpleadoGuardar</servlet-name>
        <url-pattern>/ServletDescansoEmpleadoGuardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIniciarCron</servlet-name>
        <url-pattern>/ServletIniciarCron</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTerminalBuscarCalendario</servlet-name>
        <url-pattern>/ServletTerminalBuscarCalendario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTerminalBuscarTipoEntrada</servlet-name>
        <url-pattern>/ServletTerminalBuscarTipoEntrada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControlManual</servlet-name>
        <url-pattern>/ServletControlManual</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
</web-app>
